{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<head>
    <title>Test Celery Task</title>
    <style>
        .progress {
            width: 100%;
            text-align: center;
        }
    </style>
</head>
<h1>Test</h1>
    {% if status_url %}
    Test already running
    {% else %}
    <button id="start-bg-job">Start test</button><br><br>
    {% endif %}

    <button id="kill-bg-job">Kill test</button><br><br>

    <div id="progress"></div>
    <div id="countdowntimer"></div>
    <div id="successes"></div>
    <div id="failures"></div>
{% endblock %}

{% block scripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/test_task.js') }}"></script>
    <script>
        {% if status_url %}
        document.addEventListener('DOMContentLoaded', function() {
            var status_url = '{{status_url}}';
            check_existing_task(status_url);
        }, false);
        {% endif %}
    </script>
{% endblock %}