<table class="table table-condensed" id="data_summary">
    <tr>
        <th>Market</th>
        <th>Number of listings</th>
        <th>Data points</th>
        <th></th>
        <th></th>
    </tr>
    {% for market in markets %}
    <tr>
        <td id="market_name{{ market.id }}">{{ market.name }}</td>
        <td id="listing_count{{ market.id }}">{{ market.listings.count() }}</td>
        <td id="data_points{{ market.id }}">{{ market.pages().count() }}</td>
        <td>
            {% if current_user.is_authenticated %}
            <input type="button" value="rename" class="rename_market" market_id="{{ market.id }}"/>
            <input type="button" value="delete" class="delete_market" market_id="{{ market.id }}"/>
            <a href="{{ url_for('scraping.create_mock_data', market_id=market.id) }}" class="button">add mock data</a>
            <a href="{{ url_for('scraping.create_mock_listings', market_id=market.id) }}" class="button">add mock listings</a>
            {% endif %}
        </td>

    </tr>
    {% endfor %}
</table>