{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Rechem Routine Scraping</h1>

    {% if current_user.is_authenticated %}
    <div id="start-button">
        {% if status_url %}
        Scraping is in progress
        {% else %}
        <button id="start-bg-job">Start scraping</button><br><br>
        {% endif %}
    </div>
    <div id ="end-button">
        <button id="kill-bg-job">End</button><br><br>
    </div>
    {% endif %}

    <div id="status">Not running</div>
    <br>
    <div id="progress"></div>
    <div>Next attempt in... <div id="countdowntimer"></div></div>
    Next url: <div id="next_url"></div>
    <div id="attempts">
        There have been
        <div id="successes"></div>
        successful page requests and
        <div id="failures"></div>
        failures
    </div>
    <h1>Rechem Results</h1>
    <div id="rechem_results"></div>

{% endblock %}

{% block scripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/rechem_routine_check.js') }}"></script>
{% endblock %}