{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<table class="table table-condensed" id="data_summary">
    <tr>
        <th>Name</th>
        <th>Latest price</th>
        <th>Latest page</th>
        <th>Number of pages</th>
    </tr>
    {% for listing in listings %}
    {% set page = listing.newest_page() %}
    {% if page %}
    <tr>
        <td>{{ page.name }}</td>
        <td>${{ page.price }}</td>
        <td>
            <a href="{{ url_for('scraping.raw_results', page_id=page.id) }}">
                {{ page.timestamp }}
            </a>
        </td>
        <td>
            <a href="{{ url_for('main.view_listing', listing_id=listing.id) }}">
                {{ listing.pages.count() }}
            </a>
        </td>
    </tr>
    {% endif %}
    {% endfor %}
</table>

{% endblock %}
